{% extends 'layout.html' %}
{% block container %}

  <h1>{{title}} Expense</h1>
  {% from "helper/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.info, class="form-control") }}
    </div>
    <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            {{ render_field(form.category, class="form-control") }}
          </div>
        </div>
        <div class="col-xs-6">
            {{ render_field(form.amount, class="form-control") }}
        </div>
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>

{% endblock %}
